.App-contents {
  width: 300px;
  height: 300px;
  --static-gradient-direction: to-bottom;
  --static-gradient-color: #07a0ca;
  --static-gradient-size: 1;
  background: paint(static-gradient);
  background-color: rgba(52, 160, 190, 0.5);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
