.Add-polyfill {
  width: 300px;
  height: 300px;
  --static-gradient-direction: to-bottom;
  --static-gradient-color: deepskyblue;
  --static-gradient-size: 1;
  background: paint(static-gradient);
  background-color: lightblue;
}
