.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  --static-gradient-color: #98e5fa;
  --static-gradient-size: 1;
  background: paint(static-gradient);
  background-color: #34a0be;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: Static-Gradient-Animation infinite 5s linear;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Static-Gradient-Animation {
  from {
    --static-gradient-direction: to-top;
  }
  to {
    --static-gradient-direction: to-left;
  }
}
